---
layout: layouts/base.njk
title: Home page
---

<h1>{{ title }}</h1>
<p>Well, here we are! This page was made by a build process so it is pre-generated and ready to serve from a CDN.</p>

<section>
  <h2>Always start with a joke</h2>
  <p>Um....</p>
</section>

<section>
  <h2>We also have serverless functions!</h2>
  <ul>
    <li><a href="/.netlify/functions/hello?name=friends">/.netlify/functions/hello?name=friends</a></li>
    <li><a href="/api/hello/you!">/api/hello/you!</a></li>
  </ul>
</section>

